n8n-workflows/agentfix-balance-monitor.json
{
  "id": "1003",
  "name": "AgentFix Balance Monitor",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CROSSMINT_BASE_URL || 'https://www.crossmint.com/api/2025-06-09' }}/wallets/email:treasury@agentfix.demo:solana/balances",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 10000 }
      },
      "id": "balance-treasury",
      "name": "Crossmint: Treasury Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 140],
      "credentials": {
        "httpHeaderAuth": { "id": "3", "name": "Crossmint API Key" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CROSSMINT_BASE_URL || 'https://www.crossmint.com/api/2025-06-09' }}/wallets/email:fixer@agentfix.demo:solana/balances",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 10000 }
      },
      "id": "balance-fixer",
      "name": "Crossmint: Fixer Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "3", "name": "Crossmint API Key" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CROSSMINT_BASE_URL || 'https://www.crossmint.com/api/2025-06-09' }}/wallets/email:escrow@agentfix.demo:solana/balances",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 10000 }
      },
      "id": "balance-escrow",
      "name": "Crossmint: Escrow Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 460],
      "credentials": {
        "httpHeaderAuth": { "id": "3", "name": "Crossmint API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge all balance results\nconst items = $input.all();\n\nconst parseBalance = (item) => {\n  const json = item?.json;\n  // Crossmint balances API returns array or object with balance/amount fields\n  if (Array.isArray(json)) {\n    const usdc = json.find(b => b.currency === 'usdc' || b.token === 'usdc');\n    return parseFloat(usdc?.balance || usdc?.amount || '0');\n  }\n  return parseFloat(json?.balance || json?.amount || '0');\n};\n\nconst treasuryBal = parseBalance(items[0]);\nconst fixerBal = parseBalance(items[1]);\nconst escrowBal = parseBalance(items[2]);\n\nreturn [{\n  json: {\n    treasury_balance: treasuryBal,\n    fixer_balance: fixerBal,\n    escrow_balance: escrowBal,\n    fixer_needs_topup: fixerBal < 10,\n    escrow_warning: escrowBal > 100,\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "merge-balances",
      "name": "Merge Balances",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.fixer_needs_topup }}", "value2": true }]
        }
      },
      "id": "check-fixer-low",
      "name": "Fixer < $10?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CROSSMINT_BASE_URL || 'https://www.crossmint.com/api/2025-06-09' }}/wallets/email:treasury@agentfix.demo:solana/transfers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: 'email:fixer@agentfix.demo:solana', currency: 'usdc', amount: '50' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "topup-fixer",
      "name": "Crossmint: Top-up Fixer ($50)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 100],
      "credentials": {
        "httpHeaderAuth": { "id": "3", "name": "Crossmint API Key" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.escrow_warning }}", "value2": true }]
        }
      },
      "id": "check-escrow-high",
      "name": "Escrow > $100?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || '' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: ':warning: *AgentFix Escrow Alert*\\nEscrow wallet balance is *$' + $json.escrow_balance + '* (above $100 threshold).\\nChecked at: ' + $json.checked_at }) }}",
        "options": { "timeout": 5000 }
      },
      "id": "slack-escrow-warning",
      "name": "Slack: Escrow Warning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 440],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[
        { "node": "Crossmint: Treasury Balance", "type": "main", "index": 0 },
        { "node": "Crossmint: Fixer Balance", "type": "main", "index": 0 },
        { "node": "Crossmint: Escrow Balance", "type": "main", "index": 0 }
      ]]
    },
    "Crossmint: Treasury Balance": {
      "main": [[{ "node": "Merge Balances", "type": "main", "index": 0 }]]
    },
    "Crossmint: Fixer Balance": {
      "main": [[{ "node": "Merge Balances", "type": "main", "index": 0 }]]
    },
    "Crossmint: Escrow Balance": {
      "main": [[{ "node": "Merge Balances", "type": "main", "index": 0 }]]
    },
    "Merge Balances": {
      "main": [[
        { "node": "Fixer < $10?", "type": "main", "index": 0 },
        { "node": "Escrow > $100?", "type": "main", "index": 0 }
      ]]
    },
    "Fixer < $10?": {
      "main": [
        [{ "node": "Crossmint: Top-up Fixer ($50)", "type": "main", "index": 0 }],
        []
      ]
    },
    "Crossmint: Top-up Fixer ($50)": { "main": [[]] },
    "Escrow > $100?": {
      "main": [
        [{ "node": "Slack: Escrow Warning", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "agentfix" }, { "name": "monitoring" }],
  "triggerCount": 1,
  "pinData": {}
}
