n8n-workflows/finfix-balance-monitor.json
{
  "id": "1003",
  "name": "FinFix Balance Monitor",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.crossmint.com/api/2025-06-09/wallets/email:treasury@finfix.demo:solana/balances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CROSSMINT_API_KEY || '' }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "balance-treasury",
      "name": "Crossmint: Treasury Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.crossmint.com/api/2025-06-09/wallets/email:fixer@finfix.demo:solana/balances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CROSSMINT_API_KEY || '' }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "balance-fixer",
      "name": "Crossmint: Fixer Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.crossmint.com/api/2025-06-09/wallets/email:escrow@finfix.demo:solana/balances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CROSSMINT_API_KEY || '' }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "balance-escrow",
      "name": "Crossmint: Escrow Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge all balance results\nconst items = $input.all();\n\nconst treasuryBal = parseFloat(items[0]?.json?.balance || items[0]?.json?.[0]?.balance || '0');\nconst fixerBal = parseFloat(items[1]?.json?.balance || items[1]?.json?.[0]?.balance || '0');\nconst escrowBal = parseFloat(items[2]?.json?.balance || items[2]?.json?.[0]?.balance || '0');\n\nreturn [{\n  json: {\n    treasury_balance: treasuryBal,\n    fixer_balance: fixerBal,\n    escrow_balance: escrowBal,\n    fixer_needs_topup: fixerBal < 10,\n    escrow_warning: escrowBal > 100,\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "merge-balances",
      "name": "Merge Balances",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fixer_needs_topup }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-fixer-low",
      "name": "Fixer < $10?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.crossmint.com/api/2025-06-09/wallets/email:treasury@finfix.demo:solana/transfers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CROSSMINT_API_KEY || '' }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "recipient", "value": "email:fixer@finfix.demo:solana" },
            { "name": "currency", "value": "usdc" },
            { "name": "amount", "value": "50" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "topup-fixer",
      "name": "Crossmint: Top-up Fixer ($50)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.escrow_warning }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-escrow-high",
      "name": "Escrow > $100?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log escrow warning — Slack integration can be added later\nconst data = $input.first().json;\nconsole.log('WARNING: Escrow balance exceeds $100 — currently $' + data.escrow_balance);\nreturn [{\n  json: {\n    warning: 'Escrow balance high',\n    escrow_balance: data.escrow_balance,\n    checked_at: data.checked_at\n  }\n}];"
      },
      "id": "log-escrow-warning",
      "name": "Log Escrow Warning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        440
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Crossmint: Treasury Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crossmint: Fixer Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crossmint: Escrow Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crossmint: Treasury Balance": {
      "main": [
        [
          {
            "node": "Merge Balances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crossmint: Fixer Balance": {
      "main": [
        [
          {
            "node": "Merge Balances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crossmint: Escrow Balance": {
      "main": [
        [
          {
            "node": "Merge Balances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Balances": {
      "main": [
        [
          {
            "node": "Fixer < $10?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Escrow > $100?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fixer < $10?": {
      "main": [
        [
          {
            "node": "Crossmint: Top-up Fixer ($50)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Crossmint: Top-up Fixer ($50)": {
      "main": [
        []
      ]
    },
    "Escrow > $100?": {
      "main": [
        [
          {
            "node": "Log Escrow Warning",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "finfix"
    },
    {
      "name": "monitoring"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}