n8n-workflows/finfix-main-pipeline.json
{
  "id": "1001",
  "name": "FinFix Main Pipeline",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finfix/purchase",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Purchase Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "finfix-purchase"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-product-url",
              "name": "product_url",
              "value": "={{ $json.body.product_url }}",
              "type": "string"
            },
            {
              "id": "set-quantity",
              "name": "quantity",
              "value": "={{ $json.body.quantity || 1 }}",
              "type": "number"
            },
            {
              "id": "set-max-price",
              "name": "max_price",
              "value": "={{ $json.body.max_price || 0 }}",
              "type": "number"
            },
            {
              "id": "set-user-email",
              "name": "user_email",
              "value": "={{ $json.body.user_email }}",
              "type": "string"
            },
            {
              "id": "set-agent-id",
              "name": "agent_id",
              "value": "={{ $json.body.agent_id || 'anonymous-agent' }}",
              "type": "string"
            },
            {
              "id": "set-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "parse-request",
      "name": "Parse Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "Analyze this purchase request and attempt to classify it:\n\nProduct URL: {{ $json.product_url }}\nQuantity: {{ $json.quantity }}\nMax Price: ${{ $json.max_price }}\nUser Email: {{ $json.user_email }}\n\nFirst, determine if this is a direct Amazon/Shopify URL that can go straight to Crossmint World Store checkout. If yes, respond with:\n{\"action\": \"DIRECT_CHECKOUT\", \"platform\": \"amazon|shopify\", \"product_url\": \"<url>\"}\n\nIf the URL is not a standard e-commerce platform, or appears to be a merchant page that may need data extraction, respond with:\n{\"action\": \"NEEDS_FIX\", \"reason\": \"DATA_BROKEN|CHECKOUT_BLOCKED|PAYMENT_FAILED|UNKNOWN\", \"details\": \"explanation\"}",
        "options": {
          "systemMessage": "You are FinFix, a middleware system that diagnoses why agentic commerce transactions fail. You analyze purchase requests and determine the best route to complete them. Always respond with valid JSON only, no explanation text."
        }
      },
      "id": "classify-request",
      "name": "Classify Request",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.1,
          "maxTokensToSample": 1024
        }
      },
      "id": "anthropic-classify",
      "name": "Anthropic (Classify)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        680,
        520
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1",
          "name": "Anthropic FinFix"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response and carry forward request data\nconst aiResponse = $input.first().json.output || $input.first().json.text || '';\nconst requestData = $('Parse Request').first().json;\n\nlet parsed;\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(jsonMatch ? jsonMatch[0] : aiResponse);\n} catch (e) {\n  parsed = {\n    action: 'NEEDS_FIX',\n    reason: 'UNKNOWN',\n    details: 'Could not parse AI classification: ' + aiResponse\n  };\n}\n\nreturn [{\n  json: {\n    ...requestData,\n    classification: parsed,\n    action: parsed.action || 'NEEDS_FIX',\n    failure_type: parsed.reason || 'UNKNOWN'\n  }\n}];"
      },
      "id": "parse-classification",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "DIRECT_CHECKOUT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "DIRECT_CHECKOUT"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.failure_type }}",
                    "rightValue": "DATA_BROKEN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "DATA_BROKEN"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.failure_type }}",
                    "rightValue": "CHECKOUT_BLOCKED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "CHECKOUT_BLOCKED"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.failure_type }}",
                    "rightValue": "PAYMENT_FAILED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "PAYMENT_FAILED"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-failure",
      "name": "Route by Failure Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.crossmint.com/api/2025-06-09/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CROSSMINT_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product",
              "value": "={{ JSON.stringify({ platform: 'amazon', productLocator: $json.product_url || $json.classification?.product_url || '' }) }}"
            },
            {
              "name": "payment",
              "value": "={{ JSON.stringify({ method: 'solana', currency: 'usdc' }) }}"
            },
            {
              "name": "recipient",
              "value": "={{ JSON.stringify({ email: $json.user_email, name: 'FinFix Customer', address: { line1: '123 Demo St', city: 'San Francisco', state: 'CA', postalCode: '94105', country: 'US' } }) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "crossmint-create-order",
      "name": "Crossmint: Create Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.product_url }}",
        "options": {
          "timeout": 10000,
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "fetch-merchant-page",
      "name": "Fetch Merchant Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "Extract product data from this merchant page HTML:\n\n{{ $json.data.substring(0, 15000) }}\n\nReturn JSON with: product_name, price (number), currency, availability (in_stock/out_of_stock), merchant, product_id, amazon_equivalent_search (a search query to find this product on Amazon).",
        "options": {
          "systemMessage": "You are a product data extraction specialist. Given raw HTML content from a merchant product page, extract structured product data into clean JSON. Return JSON only, no explanation. If you cannot extract the price, set price to 0 and availability to 'unknown'."
        }
      },
      "id": "extract-product-data",
      "name": "AI: Extract Product Data",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0,
          "maxTokensToSample": 2048
        }
      },
      "id": "anthropic-extract",
      "name": "Anthropic (Extract)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        1600,
        520
      ],
      "credentials": {
        "anthropicApi": {
          "id": "1",
          "name": "Anthropic FinFix"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse extracted product data and prepare for Crossmint checkout\nconst aiResponse = $input.first().json.output || $input.first().json.text || '';\n\nlet product;\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  product = JSON.parse(jsonMatch ? jsonMatch[0] : aiResponse);\n} catch (e) {\n  product = { product_name: 'Unknown', price: 0, availability: 'unknown' };\n}\n\n// Calculate fee (2%)\nconst price = parseFloat(product.price) || 0;\nconst fee = Math.round(price * 0.02 * 100) / 100;\nconst total = Math.round((price + fee) * 100) / 100;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    product: product,\n    price: price,\n    fee: fee,\n    total: total,\n    fix_type: 'DATA_FIX',\n    fix_details: 'Extracted structured data from unstructured merchant page',\n    amazon_search: product.amazon_equivalent_search || product.product_name\n  }\n}];"
      },
      "id": "prepare-checkout-data",
      "name": "Prepare Checkout Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.crossmint.com/api/2025-06-09/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CROSSMINT_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product",
              "value": "={{ JSON.stringify({ platform: 'amazon', productLocator: $json.amazon_search || '' }) }}"
            },
            {
              "name": "payment",
              "value": "={{ JSON.stringify({ method: 'solana', currency: 'usdc' }) }}"
            },
            {
              "name": "recipient",
              "value": "={{ JSON.stringify({ email: $json.user_email, name: 'FinFix Customer', address: { line1: '123 Demo St', city: 'San Francisco', state: 'CA', postalCode: '94105', country: 'US' } }) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "crossmint-create-order-fixed",
      "name": "Crossmint: Create Order (Fixed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.crossmint.com/api/2025-06-09/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CROSSMINT_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "product",
              "value": "={{ JSON.stringify({ platform: 'amazon', productLocator: $json.product_url || '' }) }}"
            },
            {
              "name": "payment",
              "value": "={{ JSON.stringify({ method: 'solana', currency: 'usdc' }) }}"
            },
            {
              "name": "recipient",
              "value": "={{ JSON.stringify({ email: $json.user_email, name: 'FinFix Customer', address: { line1: '123 Demo St', city: 'San Francisco', state: 'CA', postalCode: '94105', country: 'US' } }) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "crossmint-checkout-reroute",
      "name": "Crossmint: Reroute to World Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.crossmint.com/api/2025-06-09/wallets/email:fixer@finfix.demo:solana/transfers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CROSSMINT_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "email:escrow@finfix.demo:solana"
            },
            {
              "name": "currency",
              "value": "usdc"
            },
            {
              "name": "amount",
              "value": "={{ $json.total || $json.price || '0' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "crossmint-transfer-escrow",
      "name": "Crossmint: Transfer to Escrow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.crossmint.com/api/2025-06-09/wallets/email:escrow@finfix.demo:solana/transfers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CROSSMINT_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "email:fees@finfix.demo:solana"
            },
            {
              "name": "currency",
              "value": "usdc"
            },
            {
              "name": "amount",
              "value": "={{ $json.fee || '0' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "crossmint-collect-fee",
      "name": "Crossmint: Collect Fee",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Format success response for dashboard\nconst upstream = $('Parse Request').first().json;\nconst classification = $('Parse Classification').first().json;\nconst data = $input.first().json;\n\n// Extract product name from URL or classification\nconst url = upstream.product_url || '';\nlet productName = classification.classification?.product_name || data.product?.product_name || '';\nif (!productName) {\n  try { productName = decodeURIComponent(url.split('/').pop().replace(/[-_]/g, ' ')).substring(0, 60); } catch(e) { productName = url; }\n}\n\n// Use max_price from request, or data from checkout pipeline\nconst price = parseFloat(data.total || data.price || upstream.max_price || 0);\nconst fee = parseFloat(data.fee || 0) || Math.round(price * 0.02 * 100) / 100;\nconst total = Math.round((price + fee) * 100) / 100;\n\nreturn [{\n  json: {\n    status: 'success',\n    message: 'FinFix completed transaction',\n    transaction: {\n      product: productName || 'Product',\n      amount_usdc: total,\n      fee_usdc: fee,\n      fix_applied: classification.action === 'DIRECT_CHECKOUT' ? 'DIRECT_CHECKOUT' : (data.fix_type || classification.failure_type || 'DATA_FIX'),\n      fix_details: data.fix_details || (classification.action === 'DIRECT_CHECKOUT' ? 'Direct checkout via Crossmint World Store' : 'Fixed via FinFix pipeline'),\n      tx_hash: data.txHash || data.transactionId || data.id || ('finfix-' + Date.now().toString(36)),\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "format-success",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format escalated response for dashboard\nconst data = $input.first().json;\nreturn [{\n  json: {\n    status: 'escalated',\n    message: 'Transaction requires human review',\n    failure_type: data.failure_type || 'UNKNOWN',\n    details: data.classification?.details || 'Could not auto-fix this transaction'\n  }\n}];"
      },
      "id": "format-escalated",
      "name": "Format Escalated Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Payment fix: check fixer wallet balance and handle payment rerouting\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    fix_type: 'PAYMENT_FIX',\n    fix_details: 'Rerouted payment through USDC stablecoin rails via Crossmint',\n    payment_method: 'usdc',\n    payment_chain: 'solana'\n  }\n}];"
      },
      "id": "payment-fix",
      "name": "Payment Fix: USDC Reroute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "// Checkout blocked fix: reroute through Crossmint World Store\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    fix_type: 'CHECKOUT_FIX',\n    fix_details: 'Bypassed anti-bot checkout via Crossmint World Store reroute'\n  }\n}];"
      },
      "id": "checkout-fix-prep",
      "name": "Checkout Fix: Prepare Reroute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        500
      ]
    }
  ],
  "connections": {
    "Purchase Request": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Classify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Request": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic (Classify)": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Request",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Route by Failure Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Failure Type": {
      "main": [
        [
          {
            "node": "Crossmint: Create Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Merchant Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checkout Fix: Prepare Reroute",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment Fix: USDC Reroute",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Escalated Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crossmint: Create Order": {
      "main": [
        [
          {
            "node": "Crossmint: Transfer to Escrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Merchant Page": {
      "main": [
        [
          {
            "node": "AI: Extract Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Extract Product Data": {
      "main": [
        [
          {
            "node": "Prepare Checkout Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic (Extract)": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Extract Product Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Checkout Data": {
      "main": [
        [
          {
            "node": "Crossmint: Create Order (Fixed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crossmint: Create Order (Fixed)": {
      "main": [
        [
          {
            "node": "Crossmint: Transfer to Escrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkout Fix: Prepare Reroute": {
      "main": [
        [
          {
            "node": "Crossmint: Reroute to World Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crossmint: Reroute to World Store": {
      "main": [
        [
          {
            "node": "Crossmint: Transfer to Escrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Fix: USDC Reroute": {
      "main": [
        [
          {
            "node": "Crossmint: Create Order (Fixed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crossmint: Transfer to Escrow": {
      "main": [
        [
          {
            "node": "Crossmint: Collect Fee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crossmint: Collect Fee": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "finfix"
    },
    {
      "name": "crossmint"
    },
    {
      "name": "hackathon"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}